@import 'navbar';
@import 'Slider.scss';
@import 'second.scss';
$naziv-color: black;
$color: #0d59b1;
$title-color: #c71c1c;

body{
    background-color: #cccccc;
}

.stranice {
    color: $color;
    text-align: center;
    font-size: 3rem;
}

.jsonfile{
    text-align: left;
    font-size: 1.2rem;
    margin-left: 20px;
}

.naziv{
    color: $title-color;
    font-size: 1.6rem;
}

.naslov{
    font-size: 5rem;
    color: $title-color;
    text-align: center;
    font-style: italic;
}




